<!DOCTYPE html>
<html>
<head>
  <title>AngularJS Tutorials</title>
</head>
<body>

  <div ng-app="">


    <div ng-controller="CartController">
      <h1> Your Order</h1>

      <div ng-repeat='item in items'>
        <span>{{item.title}}</span>
        <input ng-model='item.quantity'>
        <span>{{item.price | currency}}</span>
        <span>{{item.price * item.quantity | currency}}</span>
        <button ng-click="remove($index)">Remove</button>
      </div>

    </div>

  </div>


<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="controllers.js"></script>

</body>
</html>